<launch>
    <!-- Launch the simulator with the world file -->
    <node name="stage_ros" pkg="stage_ros" type="stageros" args="$(find icp_localizer)/test_data/cappero.world"/>
    
    <!-- Launch the map server with the map file -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find icp_localizer)/test_data/cappero_map.yaml"/>
    
    <!-- Launch RViz with the config file -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find icp_localizer)/test_data/rviz.rviz" />
    
    <!-- Launch the custom localizer node -->
    <node name="localizer_node" pkg="icp_localizer" type="localizer_node" />
</launch>
